<div class="container">
  <div class="row">
  <h4>Editing playground</h4>
  <%= render 'form', playground: @playground %>
  <%= link_to 'Show', @playground %> |
  <%= link_to 'Back', playgrounds_path %>
  </div>
</div>
